<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abuse Detection</title>
    <style>
        body{
          background-color: tomato;
          text-align: center;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 20px;
        }
      </style>
</head>
<body>
    <form action="/perform_abuse" method="post">
        <label>Type your text here</label><br>
        <textarea name="abuse_text"></textarea><br>
        <input type="submit" value="Perform Abuse Detection">
    </form>

    {% if result%}
    <p> {{ result }}</p>
    {% endif%}
    
</body>
</html>