<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
      body{
        background-color: tomato;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
      }
      p{
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
    </style>
</head>
<body>
   <p>What would you like to do</p>
   <ul>
     <li><a href="/ner">NER</a></li>
     <li><a href="/sentiment">Sentiment Analysis</a></li>
     <li><a href="abuse">Abuse Detection</a></li>
   </ul>
</body>
</html>
